@import "tailwindcss";

button {
  cursor: pointer;
}

@layer components {
  .input {
    @apply text-xl py-2 px-8 border-2 border-slate-900 outline-none rounded-2xl placeholder:text-slate-700 font-medium;
  }
}
